*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}
.grid-container {
  display: grid;
  height:100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas:
    "header"
    "pageNav"
    "mainContent";
}
header,
body {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}
main {
  font-family: 'Quicksand', sans-serif;
  grid-area: mainContent;
  display: grid;
  grid-gap: 2px;
  color:grey;
  padding: 0;
}

header {
  background: #7477BF;
  display:flex;
  align-items:center;
  grid-area:header;
  color:white;
  font-weight: normal;
  padding:20px;
  justify-content: space-around;
  align-items:center;
}
header h1 {
  flex-wrap: nowrap;
  font-size: 1.5em;
}
header h3 {
  font-weight:300;
  padding-left:10px;
}
.thinfont {
  font-weight:lighter;
  flex-grow:1;
}

.bell {
  display: flex;
  border-right: 1px solid white;
  height: 40px;
  margin-right:20px;
}
.bell svg {
  width: 20px;
  margin-left:-45px;

}
.bellsvg {
  stroke:#ffffff;
  stroke-width:1;
  transition: .2s ease-in;
}
.bellsvg:hover {
  width: 23px;
   stroke-width:2;

}
/* #notifications img{
  display: inline;
  min-width: 20px;

} */
img {
  width:30px;
  height:auto;
  margin: 0, auto;
  border-radius:50%;
}
nav {
  grid-area: pageNav;
  display:flex;
  align-items:center;
  background: #4D4C71;
}
nav img {
  border-radius:0;
  margin:3px;
}

.dash-search h2 {
  margin-right: 20px;
}
.dash-search {
  display:flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding-left:20px;
}

 input[type="search"]{
  width: 50%;
  height: 50px;
  padding:20px;
  font-size: 20px;
  background-color: #F8F8F8;
  margin-right: 25px;
  box-shadow: none;
  border: 1px gray solid;
  border-radius: 5px;
}

.searchDiv {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  min-height: 70px;
  border-left: 1px rgba(216,216,216, 1) solid;
  border-bottom: 1px rgba(216,216,216,1) solid;
  background-color: rgba(220,220,220, .2)
}

.traffic-header {
  display:flex;
  padding: 20px 20px 0 20px;
  justify-content: space-between;
  align-items: center;
}
.traffic-header h3 {
  font-size: 1.3em;
  font-weight:bold;

}
.traffic-header ul{
  text-align: center;
}

.traffic-header li{
  display:inline-block;
  list-style-type: none;
  border-radius: 20%;
  margin:10px;
}

.social   {
  display:flex;
  font-size: 1.3em;
  font-weight: 600;
  color: #7477BF;
}

.social-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding:20px;
}

.social-2,
.social-3 {
  display:flex;
  justify-content: center;
  padding:20px;

}
.social-img-1,
.social-img-2,
.social-img-3 {
  display:flex;
  width:300px;
  border: 1px solid gray;
  border-radius: 15px;
  padding:10px;
  align-content: center;
}
.social-img-1 {
  justify-self: center;
}

.social-img-1 svg,
.social-img-2 svg,
.social-img-3 svg {
  align-self: center;
  background-color: #7477BF;
  border-radius: 50%;
  margin-right:30px;
  margin-left: 20px;
  width:50px;
}

.social-data .stats {
  color: black;
  font-weight:lighter;
  font-size: 2.2em;

}

.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
   display: grid;
}

.half-size-charts,
.member-info,
.message-and-settings {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

}
.chart-1,
.chart-2,
.members-1,
.members-2 {
  border:1px rgba(216,216,216,1) solid;
  padding: 20px 20px;
}
.members-1 {
  display:flex;
  flex-direction: column;
}
.member-info h3{
  padding:20px;
}

.member img {
  width: 5em;
}

.member {
  display:flex;
  flex-direction: row;
  align-items:center;
  font-size: 1.3em;
  padding:20px;
  border-bottom: 1px rgba(216,216,216,1) solid;
}
.member:last-child {
  border-bottom:none;
}
.member .name {
  font-weight:600;
  padding: 0 10px;
}

.member .email {
  font-size: .8em;
  font-weight:600;
  color: #7477BF;
  padding: 0 10px;
}
.member .signUpDate,
.member .arrow {
  margin-left: auto;
}
.member .event,
.member .eventTime {
  font-size: .8em;
  font-weight:600;
  padding: 0 10px;
}
.member h2 {
  color: #7477BF;
}
.message{
  border-bottom: 1px rgba(216,216,216,1) solid;
}

.message,
.settings {
  padding: 20px 20px;
}

input[id="select"],
input[id="search"],
input[id="message"]{
  width:100%;
  max-height: 1.5em;
  margin: 10px auto;
  border: 1px #AAB7B8 solid;
  border-radius: 5px;
  color:#E5E7E9;
  font-size: 1.1em;
  background-color: #F8F8F8;
}
input[id="select"],
input[id="search"] {
  padding: 1.4em 1em;
  margin-top:20px
}
input[id="select"]{
width:100%;
margin-top:10px;
margin-bottom: 10px;
}

input[id="message"] {
  padding: 1.5em 1em 5em 1em;
  margin-bottom: 20px;
}
input::placeholder {
  text-align: left;
  color: #BEBEBE;
}
.actions{
  margin-right:120px;
}

.actions,
.buttons {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}
.actions label{
  width: 150px;
  padding:20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.message button,
.settings button {
  color: #fff;
  background-color: #7477BF;
  padding:1.5em;
  border-radius: 5px;
  border: none;
  width:100%;
}
.settings .save {
  margin-right:5px;
}
.settings .cancel{
  margin-left:5px;
  background-color: gray;
}


.switch-ios.switch-light input:checked~ span span:last-of-type{
  background-color: #7477bf;
  z-index:0;
  border-color:#7477bf;
}


.switch-ios.switch-light a{
  z-index: 3;

}
.switch-ios.switch-light input:checked ~ span a {
  border-color: #AAB7B8 ;
}

.switch-ios.switch-light input:checked ~ span {
  box-shadow:none;
}

.timezone input {
  width:100%;
  margin-top:20px;
  margin-bottom: 20px;

}


-------------------------------
/* switch elements */

-------------------------------




//todo 'h3' too 'big' at 100%

-------------------------------
/*media queries */

-------------------------------

@media (min-width: 768px) {
  .grid-container {
    grid-template-rows: 70px 60px 1fr;
  }
}
@media (min-width: 1024px){
  .grid-container {
    grid-template-columns:60px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    "header header"
    "pageNav mainContent";
  }
  .social-media-info {
    grid-template-columns: repeat(3, 1fr);


  }

  .social-img-1,
  .social-img-2,
  .social-img-3 {
      margin:30px 0 ;

  }
  .social-1 {
    display: grid;
    padding:20px;

  }

  .social-2,
  .social-3 {
    align-items: center;
  }

  nav{
    flex-flow: column nowrap;
    padding:10px;
  }
  nav img{
    margin:20px;
  }
  .message{
    border-right: 1px rgba(216,216,216,1) solid;
  }


}
